/* style.css */

:root {
  --image-width: 300px;
  --image-height: 200px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
}

#portfolio .row {
  display: flex;
  justify-content: center; /* centers your columns */
  flex-wrap: wrap;
}

#portfolio img {
  width: var(--image-width);     /* force same width */
  height: 2var(--image-height);    /* force same height */
  object-fit: cover; /* crop edges but keep aspect ratio */
  display: block;
}

#portfolio .item h3 {
  width: var(--image-width);  /* match the image width */
  text-align: center;
  margin: 0 auto;
}